## Merging Weather and Tweets data frames

In [16]:
import pandas as pd
import numpy as np

* We read the two previously saved csv dataframes

In [17]:
tweets = pd.read_csv('Tweets_analysed.csv', low_memory=False)
wlabels = pd.read_csv('weatherlabels.csv', low_memory=False)
dailyweather = pd.read_csv('dailyweather.csv')

* We check them

In [26]:
wlabels.head()
dailyweather.head()
wlabels['Temperature'].value_counts()

Cold        296
Mild        241
Warm        164
Freezing     29
Name: Temperature, dtype: int64

In [19]:
tweets = tweets.sort_values('tweet_dates')
tweets.head(3)

,Unnamed: 0,tweet_id,tweet_text,tweet_name,latitude,longitude,OBJECTID,tweet_dates,year,month,...,cleanTxt,Tweet_punct,langu,Tweet_tokenized,Tweet_nonstop,Tweet_stemmed,Tweet_lemmatized,Subjectivity,Polarity,Analysis
98040,. They can''t be making money,doc_cox10,52.3642,4.88304,1445933.0,20140310.0,2014.0,3.0,10.0,When in Amsterdam buy 30 jaagers for 27 euro 5...,...,en,"['when', 'in', 'amsterdam', 'buy', 'jaagers', ...","['when', 'amsterdam', 'buy', 'jaagers', 'for',...","['when', 'amsterdam', 'buy', 'jaager', 'for', ...","['when', 'amsterdam', 'buy', 'jaagers', 'for',...",0.0,0.0,Neutral,NaN,NaN
125171,Which is the oldest building in Amsterdam over...,celinefanonline,52.37410341,4.89818866,3870322.0,20140429.0,2014.0,4.0,29.0,Oude Kerk / Old church Which is the oldest bui...,...,en,"['oude', 'kerk', 'old', 'church', 'which', 'is...","['oude', 'kerk', 'old', 'church', 'which', 'is...","['oud', 'kerk', 'old', 'church', 'which', 'is'...","['oude', 'kerk', 'old', 'church', 'which', 'is...",0.2,0.1,Positive,NaN,NaN
132188,#warflashbacks @ Shanghai Noodle http://t.co/Q...,kookyloonae,52.368241,4.892891,4427518.0,20140511.0,2014.0,5.0,11.0,Celebrated Mother''s Day wwwwwww #warflashback...,...,en,"['celebrated', 'mothers', 'day', 'wwwwwww', 'w...","['celebrated', 'mothers', 'day', 'wwwwwww', 'w...","['celebr', 'mother', 'day', 'wwwwwww', 'warfla...","['celebrated', 'mother', 'day', 'wwwwwww', 'wa...",0.75,0.35,Positive,NaN,NaN

* We know we have some problems with some columns where the values moved and the dates are not correct anymore. We are going to delete these rows.
* Also, we will delete some unnecessary columns.

In [20]:
tweets = tweets.drop(columns=['tweet_id', 'tweet_name', 'OBJECTID', 'Unnamed: 0'])
wlabels = wlabels.drop(columns=['Unnamed: 0'])
dailyweather = dailyweather.drop(columns=['Unnamed: 0', 'MinTemp', 'MaxTemp', 'MinPres', 'MaxPres', 'MinHum', 'MaxHum', 'Rain', 'Snow', 'TStorm'])
tweets = tweets.drop(tweets[tweets.tweet_dates < 50].index)
tweets.head()

,tweet_text,latitude,longitude,tweet_dates,year,month,day,tweet_clean,cleanTxt,Tweet_punct,langu,Tweet_tokenized,Tweet_nonstop,Tweet_stemmed,Tweet_lemmatized,Subjectivity,Polarity,Analysis
248,#ReMix [rcoerres fo lvei] celtic warrior - we ...,52.362261,4.882822,20131105.0,2013.0,11,5,#ReMix [rcoerres fo lvei] celtic warrior - we ...,ReMix [rcoerres fo lvei] celtic warrior - we w...,ReMix rcoerres fo lvei celtic warrior we will...,en,"['remix', 'rcoerres', 'fo', 'lvei', 'celtic', ...","['remix', 'rcoerres', 'fo', 'lvei', 'celtic', ...","['remix', 'rcoerr', 'fo', 'lvei', 'celtic', 'w...","['remix', 'rcoerres', 'fo', 'lvei', 'celtic', ...",0.0,0.00,Neutral
241,@pappybowe ah be happy boy,52.375137,4.896921,20131105.0,2013.0,11,5,ah be happy boy,ah be happy boy,ah be happy boy,en,"['ah', 'be', 'happy', 'boy']","['ah', 'be', 'happy', 'boy']","['ah', 'be', 'happi', 'boy']","['ah', 'be', 'happy', 'boy']",1.0,0.80,Positive
247,"#ReMix answer: galaxy m100, @Chelistia 11/2429...",52.362261,4.882822,20131105.0,2013.0,11,5,"#ReMix answer: galaxy m100, 11/242936 points","ReMix answer: galaxy m100, 11/242936 points",ReMix answer galaxy m points,en,"['remix', 'answer', 'galaxy', 'm', 'points']","['remix', 'answer', 'galaxy', 'm', 'points']","['remix', 'answer', 'galaxi', 'm', 'point']","['remix', 'answer', 'galaxy', 'm', 'point']",0.0,0.00,Neutral
246,"#ReMix answer: bury me in smoke, @Chelistia 16...",52.362261,4.882822,20131105.0,2013.0,11,5,"#ReMix answer: bury me in smoke, 16/243357 points","ReMix answer: bury me in smoke, 16/243357 points",ReMix answer bury me in smoke points,en,"['remix', 'answer', 'bury', 'me', 'in', 'smoke...","['remix', 'answer', 'bury', 'me', 'smoke', 'po...","['remix', 'answer', 'buri', 'me', 'smoke', 'po...","['remix', 'answer', 'bury', 'me', 'smoke', 'po...",0.0,0.00,Neutral
245,A great dining area #amsterdam #holland #food ...,52.372625,4.894753,20131105.0,2013.0,11,5,A great dining area #amsterdam #holland #food ...,A great dining area amsterdam holland food bus...,A great dining area amsterdam holland food bus...,en,"['a', 'great', 'dining', 'area', 'amsterdam', ...","['a', 'great', 'dining', 'area', 'amsterdam', ...","['a', 'great', 'dine', 'area', 'amsterdam', 'h...","['a', 'great', 'dining', 'area', 'amsterdam', ...",0.875,0.65,Positive

* In order to merge the two dataframes we need to have a 'join' column, in this case the Date. It needs to be in the same data type. As we realised in the tweets data frame the date is in Float, we will convert it to integer.
* We will also change the name in the labels dataframe so it will be easier later.

In [21]:
tweets['tweet_dates'] = tweets['tweet_dates'].fillna(0.0).astype(int)

In [22]:
wlabels = wlabels.rename(columns = {'Day':'tweet_dates'})
dailyweather = dailyweather.rename(columns = {'Day':'tweet_dates'})

wlabels.head()

,tweet_dates,Temperature,TempVariation,Sunny,Pressure,Humidity,Rainy,Snow,Thunderstorm
0,20130101,Cold,Low,Not Sunny,Low,Uncomfortable - High,Yes,No,No
1,20130102,Cold,Low,Not Sunny,High,Uncomfortable - High,No,No,No
2,20130103,Mild,Low,Not Sunny,High,Uncomfortable - High,No,No,No
3,20130104,Cold,Low,Not Sunny,High,Uncomfortable - High,No,No,No
4,20130105,Cold,Low,Not Sunny,High,Uncomfortable - High,Yes,No,No

* Finally, we will use the merge function from pandas to join them based on the tweet_dates column

In [27]:
merged1 = tweets.merge(wlabels, how='left', on='tweet_dates')
merged = merged1.merge(dailyweather, how='left', on='tweet_dates')

Cold    116344
Mild     71757
Warm     47578
Name: Temperature, dtype: int64

* And we will export it to csv.

In [25]:
merged.to_csv('tweets_and_weather.csv')